<settings>
  <servers>
      <server>
         <id>NexusRepo</id>
         <username>admin</username>
         <password>devops</password>
      </server>
  </servers>
  <mirrors>
    <mirror>
      <id>maven-central</id>
      <mirrorOf>*</mirrorOf>
      <url>http://192.168.49.1:8081/repository/maven-central/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>admin</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>admin</activeProfile>
  </activeProfiles>
</settings>
